.allAuthorsPage{
    text-align: center;}
.authorsBlock {
    text-align: center;
}
.authorsBlock {
    margin: 10px auto;
    width: 900px;
    height: 700px;
    border: 1px solid black;
    background-color: white;
}
.authorsBlock a {
    position: absolute;
    top: 70px;
    display: block;
    text-decoration: none;
    font-size: 30px;
    background-color: white;
    width: 150px;
    color: black;
    padding: 10px;
}

.authorsBlock a:hover,
.allAuthorsPage a:hover {
    background-color: white;
    color: #0d3f3f;
}

.authorsBlock h1 {
    color: black;
}

.authorsBlock p {
    margin: 10px;
    font-size: 20px;
    color: orangered;
}